body {
  margin: 0;
  background-color: white;
  color: black;
  font-family: Helvetica, sans-serif;
}

div {
  border: solid 1px black;
}

header {
  background-color: #58C2D3;
  color: white;
}

.SectionOne {
  
}
.SectionTwo {
  
}

.SectionTwo {
  
}