#accordion section, #accordion .pointer, #accordion h1, #accordion p {
  transition: all 0.5s ease-in-out;
}

#accordion {
  margin-bottom: 15px;
  max-width: 500px;
}

#accordion h4 {
  line-height: 1.2;
  font-size: 20px;
  font-weight: normal;
  background-color: #58C2D3;
  margin: 0;
  padding: 10px 10px 10px 30px;
}

#accordion h4 a {
  color: white;
  font-family: sans-serif;
  text-decoration: none;
}

#accordion section {
  overflow: hidden;
  height: 220px;
  border: 1px solid #62D6E9;
}

#accordion p {
  padding: 0 10px;
  color: gray;
  font-family: sans-serif;
}

#accordion section.ac_hidden {
  height: 44px;
}

#accordion section:not(.ac_hidden) h1 {
  background-color: #62D6E9;
}
